.Output {
	overflow-wrap: break-word;
	white-space: break-spaces;
	margin: 20px;
}

.InputBoxElements {
	display: inline-block;
	text-align: center;
	width: 500px;
}

.BigButton {
	width: 100px;
	height: 60px;
	font-size: 20px;
	margin: 20px;
	float: right;
}
