.Output {
	overflow-wrap: break-word;
	white-space: break-spaces;
}

.ArrangeSideBySide {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.InputBoxElements {
	align-items: center;
	width: 33%;
}

.BigButton {
	width: 100px;
	height: 60px;
	font-size: 20px;
}
